<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro de Etapas</title>
<link rel="stylesheet" type="text/css" href="etapa.component.css">
</head>
<body>

<div class="container">
    <h1>Cadastro de Etapas</h1>
    <button class="btn">Incluir</button>
</div>

<div class="container">
    <table>
        <tr>
            <th class="rounded-cell">Nome da Etapa</th>
            <th>Data de Criação da Etapa</th>
            <th>Nome da Disciplina</th>
            <th>Nome do Projeto</th>
            <th>Nome da Empresa</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <tr>
            <td>Etapa 1</td>
            <td>08/02/2024</td>
            <td>Arquitetura</td>
            <td>Nova Unidade Faculdade Senac RJ</td>
            <td>Faculdade Senac RJ</td>
            <td><button><img src="imagens/icone edicao.png" alt="Editar" style="width: 20px; height: 20px;"></button></td>
            <td><button><img src="imagens/llixo.png" alt="Editar" style="width: 20px; height: 20px;"></button></td>
        </tr>
        <tr>
            <td>Etapa 2</td>
            <td>08/02/2024</td>
            <td>Elétrica</td>
            <td>Anexo Barra Shopping</td>
            <td>Barra Shopping</td>
            <td><button><img src="imagens/icone edicao.png" alt="Editar" style="width: 20px; height: 20px;"></button></td>
            <td><button><img src="imagens/llixo.png" alt="Editar" style="width: 20px; height: 20px;"></button></td>
        </tr>
    </table>
</div>

</body>
</html>
